:root {
    --main-color: #212121;
    --main-background: #ffffff;
    --button: #2196F3;
    --footer: #2F303A;
    --button-active:#188CE8 ;
    --logo2: #000000;
    --contact: #757575;
    --team: #F5F4FA;
    --mail: #FFFFFF99;
    --line: #ececec;
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --image-border: #EEEEEE;
    --head-image-overlay: #2F303A66;
    --image-overlay-1: #2F303A66;
    --image-overlay-2: #C4C4C499;


}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--main-background);

}

.container {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 1px solid tomato;
}
h1,h2,h3,p,ul {
    margin-top: 0;
    margin-bottom: 0;
}
a>img {
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* header */
.header {

    outline: 1px solid var(--line);
}
.logo1 {
   
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--button);
    text-decoration: none;
}
.logo1-down {
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--button);
    text-decoration: none;    
}
.logo2 {
    color: var(--logo2);   
}

.logo3 {
    color: var(--main-background);    
}
.nav,.contacts {
    display: flex;
    list-style-type: none;
}
.main-nav {
    display: flex;
    align-items: center;
}
.nav .current {
    color: var(--button);
    
}
.nav .nav-item + .nav-item {
    margin-left: 50px;
}
.contacts .contacts-item + .contacts-item { 
    margin-left: 50px;
}
.contacts {
    margin-left: auto;
}
.top1,
.top2,
.top3,
.top4,
.top5 {
    display: block;
    padding: 32px 0 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color); 
}
.top4,
.top5 {
    color: var(--contact);
}
   
.top1:hover,
.top2:hover,
.top3:hover,
.top4:hover,
.top5:hover,
.top1:focus,
.top2:focus,
.top3:focus,
.top4:focus,
.top5:focus {
    color: var(--button);
  }

/*main*/
.main {
    padding: 200px 0 200px 0;
    text-align: center;

    
 
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--button);

    
    background-image: linear-gradient(
        to right,
        var(--image-overlay-1),
        var(--image-overlay-2)

    ),
    url("../images/header-image.jpg");



}
.slogan {
    display: block;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    text-align: center;
    color: var(--main-background);

}
.order-button {
    padding: 10px 32px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background);  
    letter-spacing: 0.06em;
    background-color: var(--button);
    border-radius: 4px;
    border-color: transparent;
    border: 1px solid var(--button);
    cursor: pointer;
}
.order-button:hover,
.order-button:focus {

    background-color: var(--button-active);  
}
/*features*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.feature-list {
    display: flex;
} 
.feature-item {
    display: flex;
    
}
.feature-item::before { 
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--team);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;

}
.icon-antenna::before {
    background-image: url(../images/feature-icon-antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/feature-icon-clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/feature-icon-diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/feature-icon-astronaut.svg);
}

.feature-list .feature-item {  
    flex-direction: column;
    flex-basis: calc((100% - 90px) / 4);
}
.feature-list .feature-item + .feature-item {
    margin-left: 30px;
}

.feature  {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);  
}
.benefit {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact);    
}
/*work*/
.works {
    padding-bottom: 94px;
}
.work {
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color); 
    text-align: center;   
}
.work-list {
    display: flex;
    list-style-type: none;
}

.work-item {
    display: flex;
}
.work-list .work-item + .work-item {
    margin-left: 30px;
}
/*team*/