:root {
    --main-color: #212121;
    --main-background: #ffffff;
    --button: #2196F3;
    --footer: #2F303A;
    --button-active:#188CE8 ;
    --logo2: #000000;
    --contact: #757575;
    --team: #F5F4FA;
    --mail: #FFFFFF99;
    --line: #ececec;
    --box-shadow-first: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    --box-shadow-second:
       0px 4px 4px rgba(0, 0, 0, 0.25);

    --box-shadow-third: 
      0px 3px 1px rgba(0, 0, 0, 0.1),
       0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    --box-shadow-fourth: 
      0px 1px 1px rgba(0, 0, 0, 0.12),
       0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

    --image-border: #EEEEEE;
    --head-image-overlay: #2F303A66;
    --image-overlay-1: #2F303A66;
    --image-overlay-2: #C4C4C419;
    --footer-social: #FFFFFF19;

    --color-third: #afb1b8;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--main-background);

}

h1,h2,h3,p,ul {
    margin-top: 0;
    margin-bottom: 0;
}
a>img {
    display: block;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
a:active, a:focus { outline: none; }
:focus {outline:none;}

/* header */
.header {

    outline: 1px solid var(--line);
}
.logo1 {
   
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--button);
    text-decoration: none;
}
.logo1-down {
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--button);
    text-decoration: none;    
}
.logo2 {
    color: var(--logo2);   
}

.logo3 {
    color: var(--main-background);    
}
.nav,.contacts {
    display: flex;
    list-style-type: none;
    align-items: center;

}
.main-nav {
    display: flex;
    align-items: center;
}
.nav .current {
    color: var(--button);
    
}
.nav .nav-item + .nav-item {
    margin-left: 50px;
}
.contacts .contacts-item + .contacts-item { 
    margin-left: 30px;
}
.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}

.nav-link,
.contacts-link {
    display: flex;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color); 
}

.contacts-link {
    color: var(--contact);
}
   
.nav-link:hover,
.contacts-link:hover,
.nav-link:focus,
.contacts-link:focus  {
    color: var(--button);
  }

.icon-envelope,
.icon-smartphone {
    width: 30px;
    height: 16px;
    color: var(--contact);
}
.contacts-link:hover svg,
.contacts-link:focus svg {
    
    color: var(--button);
}


/*main*/
.main {
    padding: 200px 0 200px 0;
    text-align: center;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--button);

    background-image: linear-gradient(
        to right,
        var(--image-overlay-1),
        var(--image-overlay-2)

    ),
    url("../images/header-image.jpg");



}
.slogan {
    display: block;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    text-align: center;
    color: var(--main-background);

}
.order-button {
    padding: 10px 32px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background);  
    letter-spacing: 0.06em;
    background-color: var(--button);
    border-radius: 4px;
    border-color: transparent;
    border: 1px solid var(--button);
    cursor: pointer;
}
.order-button:hover,
.order-button:focus {

    background-color: var(--button-active);  
}
/*features*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.feature-list,
.feature-item {
    display: flex;
} 

.feature-item::before { 
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--team);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;

}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}

.feature-list .feature-item {  
    flex-direction: column;
    flex-basis: calc((100% - 90px) / 4);
}
.feature-list .feature-item + .feature-item {
    margin-left: 30px;
}

.feature  {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);  
}
.benefit {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact);    
}
/*work*/
.works {
    padding-bottom: 94px;
}
.work {
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color); 
    text-align: center;   
}
.work-list {
    display: flex;
    list-style-type: none;
}

.work-item {
    display: flex;
}
.work-list .work-item + .work-item {
    margin-left: 30px;
}
/*team*/
.team {
    padding: 94px 0 94px 0;
    background-color: var(--team);  
    box-shadow: var(--box-shadow-second);     
}
.group {
    display: flexbox;
}
.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);    
}
.team-list {
    display: flex;
    list-style-type: none;   
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: var(--main-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--box-shadow-first);
}
.team-list .card + .card {
    margin-left: 30px;
}
.description {
    padding: 30px 0;
}
.name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.position {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contact);    
}
.team-item-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social-item {
    display: flex;
   
}
.social-link {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--color-third);
    background: var(--main-background);
    
    border-radius: 50%;

}
.icon-social {
    width: 44px;
    height: 44px;
    
    
}
.social-link:hover,
.social-link:focus {
    background: var(--button);

}
.social-link:hover svg,
.social-link:focus svg {
    color: var(--main-background);
    
} 
/*clients*/
.clients {
    padding:  94px;
}
.clients-title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients-list {
    display: flex;
    gap: 30px;
    
}
.clients-item {
    display: flex;
    justify-content: center;
    flex-basis: calc((100% - 5 * 30px)/ 6);
  
}


.clients-button {
    font-family: inherit;
    padding: 0;

    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-third);
    background-color: var(--main-background);  
    cursor: pointer;
}
.icon-clients {
    min-width: 165px;
    height: 80px;
    color: var(--color-third); 

}
.clients-button:hover svg,
.clients-button:focus svg {
    color: var(--button);
}
.clients-button:hover,
.clients-button:focus { 
    border-color: var(--button);
}

/*footer*/
.footer {   
    background: var(--footer);
    padding: 60px 0 60px 0;
}
.address {
    margin-top: 20px;
}
.address-list {
    list-style-type: none;
    padding: 0;
}
.map {  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;  
    color: var(--main-background);
}
.mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--mail);
}
.tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--mail);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;

}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: var(--button);
}

.footer-content {
    display: flex;
    
}
.join {
    margin-top: 12px;
    margin-left: 80px;
    width: 206px;
}

.footer-item-social {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-social-link {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: var(--footer-social);
    border-radius: 50%;
}
.footer-social {
    width: 44px;
    height: 44px;
    color: var(--main-background);
  
}
.footer-social-link:hover,
.footer-social-link:focus {
    background: var(--button);

}

.join-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--main-background);      
}
/*portfolio*/
.portfolio {
    padding: 94px 0;
}                         
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    list-style-type: none;
    text-decoration: none;
}
.menu-button {    
    padding: 6px 22px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--team);
    border-radius: 4px;
    border-color: transparent;  
    border: 1px solid var(--team);  
    cursor: pointer;
}
.button-list .radio-button + .radio-button {
    margin-left: 8px;
}

.menu-button:hover,
.menu-button:focus {
    background-color: var(--button);
    color: var(--main-background);
    box-shadow: var(--box-shadow-third);
}   


.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
    list-style-type: none;
}
.flex-element {
    display: flex;
    flex-basis: calc((100% - 2 * 30px)/ 3); 
}

.image-item {
    text-decoration: none; 
}    
.image-item:hover {
    box-shadow: var(--box-shadow-fourth);
}
.image-name { 
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);  
}
.image-attribute {
    
    font-size: 16px;
    line-height: 1.85;
    letter-spacing: 0.03em;
    color: var(--contact);  
}
.project-description {
    
    padding: 20px 24px;
    border-left: 1px solid var(--image-border);
    border-right: 1px solid var(--image-border);
    border-bottom: 1px solid var(--image-border); 
}
